@import "reset.css";

@font-face{
    font-family: abster;
    src:url(font/abster-webfont.woff) format('woff'),
       
}

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 

}
.title{
    color: #000000;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 20px;
  }

header a {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    padding: 5px;
     margin:17px;
    line-height: 150px;
    
  }
  header a:hover {
    color:hotpink;
  }

  .header {
    width: 100vw;
    height: 100vh;
    

  }
  .hobby_img{

      width: 100%;
      height: 100%;
  }
      
  .title{
    margin:0;
    text-align: center;
    padding-top: 15px;
  }  

  
  #start {
    position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -150px;

  }
  #start h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin-top: 130px;
  }
  #start p {
    font-family: 'Hi Melody', cursive;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 30px;
  }


p {
    font-size: 6em;
  }
 

  .favorites {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
  }
 h1 {
    
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
  }



  .hobby {

    
    width: 200px; 
    height: 200px;
   text-align: center;
  display: table-cell;
  padding:20px;
  
  

  
  /* vertical-align: middle;  */
 
  }
 .up{
  position: relative;
width: 100%;
height: 30%;
text-align: center;
margin-left:10%;
 
 }
  .under{
    position: relative;
    width:100%;
    height: 30%;
    margin-left:10%;
    text-align: center;
  }
  

  /* .hobby_img {
   
    width: 50%;
    height: 50%;
    
  }
  .hobby_text {
    margin-top: 40px;
    font-family: 'Hi Melody', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
  }
   */
  .profile {
    width: 100vw;
    height: 100vh;
    background: rgb(207, 132, 137);
  }

  .aboutme {
    width: 100vw;
    height: 100vh;
    background: rgb(175, 154, 226);
  }
  
 
  
 
  
.sns {
    background: rgb(255, 211, 99);
    width: 100vw;
    height: 100vh;
    }
  
/* 아이콘 수평정렬 + 가운데정렬 */
    .sns ul{
      position: relative;
      top: 50%;
      left: 50%;
      padding: 0;
      margin: 0;
      transform: translate(-50%, -50%);
       display: flex;  /*가로정렬 */
      
  justify-content: center;
  }

  /* 아이콘 간에 간격두기 */
 .sns li{
    list-style: none;
    margin: 0 15px;
} 

.sns ul li .fab{
  font-size: 30px;
  line-height: 80px; 
  transition: .3s;


}


/* 네모박스를 만든후 모서리를 동그랗게 만들어 원형도출/ 그림자가 서서히 생김(6s) */
.sns ul li a{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  
  transition: .6s;
   box-shadow: 0 5px 4px rgba(0,0,0,.5); 
}

/*커서를 대면 아이콘이 살짝올라감 */
.sns ul li a:hover{
  transform: translate(0%, -10%);
}

/* 커서를 대면 배경색 변함 */
.sns ul li:nth-child(1) a:hover{
  background-color: rgba(255, 245, 60);
}
.sns ul li:nth-child(2) a:hover{
  background-color: #ffcdd6;
}
.sns ul li:nth-child(3) a:hover{
  background-color: #c5f4ff;
}
.sns ul li:nth-child(4) a:hover{
  background-color: #000;
}

  /* #icon_img{
      width:10px;
      height: 10px;
      margin-top: 140px;
      padding:5px;
      
      
  }
  .sns a{
      text-decoration: none;
  } */