@import "reset.css";

@font-face{
    font-family: abster;
    src:url(font/abster-webfont.woff) format('woff'),
       
}

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 

}
h2 {
    color: #000000;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  a {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    padding: 20px;
    line-height: 120px;
    
  }
  a:hover {
    color:hotpink;
  }

  .header {
    width: 100vw;
    height: 100vh;
    

  }
  img{

      width: 100%;
      height: 100%;
  }
      
  .title{
    margin:0;
    text-align: center;
    padding-top: 15px;
  }  

  
  #start {
    position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -150px;

  }
  #start h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin-top: 130px;
  }
  #start p {
    font-family: 'Hi Melody', cursive;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 30px;
  }


p {
    font-size: 6em;
  }
 

  .favorites {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
  }
 h1 {
    
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
  }



  .hobby {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
  height: 500px;; 
 
  
  }

  .hobby_img {
   
    width: 60%;
    height: 45%;
    
  }
  .hobby_text {
    margin-top: 40px;
    font-family: 'Hi Melody', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
  }
  
  .profile {
    width: 100vw;
    height: 100vh;
    background: rgb(207, 132, 137);
  }

  .aboutme {
    width: 100vw;
    height: 100vh;
    background: rgb(175, 154, 226);
  }
  
 
  
 
  
  .sns {
    background: rgb(255, 211, 99);
    display: flex; flex-direction: row;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center; 
    }

  #icon_img{
      width:10px;
      height: 10px;
      margin-top: 140px;
      padding:5px;
      
      
  }
  .sns a{
      text-decoration: none;
  }